@use '../../../../Styles/abstracts/variables' as *;
@use '../../../../Styles/abstracts/mixins' as m;


.home {


    min-width: 100%;
    margin-top: $sz-320;
    
    @media only screen and (min-width: $min-width-tablet ) and (max-width: $min-width-desktop){
        $margin-top: $sz-640;
       
    }

    @media(min-width: $min-width-desktop){
        display: flex;
        justify-content: space-between;
        width: $desktop-width
    }




    &__header {

        &__main {
            @include m.home-header-font;

            span {
                font-weight: $fw-medium;
            }
        }

        &__additional-info {
            margin-top: $sz-160;
            @include m.info;
        }
    }

    &__section {
        margin-top: $sz-400;

        

        @media(min-width: $min-width-desktop){
            width: 48.62%;
        }

        &__links {

            display: flex;
            flex-direction: column;
            gap: $sz-120;
            @include m.box-text;

            @media only screen and (min-width: $min-width-tablet ) and (max-width: $min-width-desktop){
                margin-top: $sz-640;
                gap: $sz-240;
            }

            @media(min-width: $min-width-desktop){
                gap: $sz-240;
            }
            

            li {
                background-color: $clr-neutral-100;
                list-style: none;
                padding: $sz-120;
                border-radius: $sz-120;

                @media only screen and (min-width: $min-width-tablet ) and (max-width: $min-width-desktop){
                    padding: $sz-120;
                    border-radius: $sz-240;
                }
                

                @media(min-width: $min-width-desktop){
                    padding: $sz-120;
                    border-radius: $sz-240;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: $sz-160;
                    text-decoration: none;
                    color: inherit;

                    img{
                        width: 28.57px;
                        height: 28.57px;
                        

                        @media(min-width: $min-width-tablet){
                            width: 40px;
                            height: 40px;
                        }
                    }

                }
            }

            &__bg-img-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: $clr-accent-light-orange;
                border-radius: 6px;

                @media(min-width: $min-width-tablet){
                    width: 56px;
                    height: 56px;
                    border-radius: $sz-120;
                }
            }

            &__bg-img-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: $clr-accent-light-green;
                border-radius: 6px;

                @media(min-width: $min-width-tablet){
                    width: 56px;
                    height: 56px;
                    border-radius: $sz-120;
                }
            }

            &__bg-img-3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: $clr-accent-light-blue;
                border-radius: 6px;

                @media(min-width: $min-width-tablet){
                    width: 56px;
                    height: 56px;
                    border-radius: $sz-120;
                }
            }

            &__bg-img-4 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: $clr-accent-light-purple;
                border-radius: 6px;

                @media(min-width: $min-width-tablet){
                    width: 56px;
                    height: 56px;
                    border-radius: $sz-120;
                }
            }
        }
    }
}