/*colors*/

$clr-accent-light-blue: hsl(216, 47%, 78%);
$clr-accent-red: hsl(0, 82%, 63%);
$clr-accent-purple: hsl(277,91%,56%);
$clr-accent-purple-btn-hover: hsl(277, 91%, 78%);
$clr-accent-purple-slctn-hover: hsl(278, 100%, 95%);
$clr-accent-green: hsl(151, 70%, 50%);
$clr-accent-light-orange: hsl(22, 100%, 96%);
$clr-accent-light-green: hsl(151, 88%, 94%);
$clr-accent-light-blue: hsl(225, 100%, 96%);
$clr-accent-light-purple: hsl(278, 100%, 95%);

$clr-neutral-100: hsl(0,0%,100%);
$clr-neutral-200: hsl(220, 38%, 97%);
$clr-neutral-300: hsl(216, 47%, 78%);
$clr-neutral-600: hsl(219,13%,44%);
$clr-neutral-700: hsl(215, 27%, 32%);
$clr-neutral-800: hsl(216,25%,25%);


/*typography*/

$ff-primary: 'Rubik', 'helvetica';
$ff-secondary: 'Rubik', 'helvetica';

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;


/*phone*/
$fs-140: .875rem;
$fs-180: 1.125rem;
$fs-200: 1.25rem;
$fs-400: 2.5rem;
$fs-640: 4rem;
$fs-880: 5.5rem;
/*tablet*/
$fs-200: 1.25rem;
$fs-240: 1.5rem;
$fs-280: 1.75rem;
$fs-360: 2.25rem;
$fs-640: 4rem;
$fs-1440: 9rem;
/*desktop*/
$fs-200: 1.25rem;
$fs-240: 1.5rem;
$fs-280: 1.75rem;
$fs-360: 2.25rem;
$fs-640: 4rem;
$fs-1440: 9rem;

$style-italic: italic;


/*spacings*/

/*mobile*/
$sz-60: .375rem;
$sz-80: .5rem;
$sz-120: .75rem;
$sz-160: 1rem;
$sz-240: 1.5rem;
$sz-270: 1.6875rem;
$sz-320: 2rem;
$sz-400: 2.5rem;


/*tablet*/
$sz-240: 1.5rem;
$sz-270: 1.6875rem;
$sz-400: 2.5rem;
$sz-490: 3.0625rem;
$sz-640: 4rem;


/*desktop*/
$sz-140: .875rem;
$sz-240: 1.5rem;
$sz-270: 1.6875rem;
$sz-480: 3rem;
$sz-850: 5.3125rem;
$sz-1310: 8.1875rem;
$sz-1640: 10.25rem;
$sz-2240: 14rem;

/*extra*/

$sz-200: 1.25rem;



/* queries */

$min-width-tablet: 33.4375em;
$min-width-desktop: 64em;

/*content widths*/

$desktop-width: clamp(1000px, 80.555555555vw, 1250px);