@use "../../../../Styles/abstracts/variables" as *;
@use "../../../../Styles/abstracts/mixins" as m;


.FinalScore {


    @media(min-width: $min-width-desktop){
        display: flex;
        justify-content: space-between;
        width: $desktop-width;
    }


    &__header {
        margin-top: $sz-320;
        @include m.home-header-font;

        

        &__bottom {
            font-weight: $fw-medium;
        }
    }

    &__main {

        display: flex;
        flex-direction: column;
        gap: $sz-160;
        align-items: center;

        margin-top: $sz-400;

        @media(min-width: $min-width-desktop){
            gap: $sz-320;
            width: 48.62%;
        }

        &__result {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $sz-160;
            background-color: $clr-neutral-100;
            padding: $sz-320;
            border-radius: $sz-120;
            width: 100%;

            @media(min-width: $min-width-desktop){
                border-radius: $sz-240;
                padding: $sz-480;
                gap: $sz-400;
            }

            &__title {
                display: flex;
                align-items: center;
                gap: $sz-160;
                @include m.box-text;

                @media(min-width: $min-width-desktop){
                    gap:$sz-240;
                }

                &__img-bg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: $sz-60;
                    width: 40px;
                    height: 40px;

                    @media(min-width: $min-width-desktop){
                        width: 56px;
                        height: 56px;
                    }
                   
                    &__html {
                        background-color: $clr-accent-light-orange;
                    }

                    &__css {
                        background-color: $clr-accent-light-green;
                    }

                    &__javascript {
                        background-color: $clr-accent-light-blue;
                    }

                    &__accessibility {
                        background-color: $clr-accent-light-purple;
                    }
                   
    
                    img {
                        width: 28.75px;
                        height: 28.75px;

                        @media(min-width: $min-width-desktop){
                            width: 40px;
                            height: 40px;
                        }
                    }
            }
          
           
            }

            &__score {
                font-family: $ff-secondary;
                font-size: $fs-180;
                font-weight: $fw-regular;
                text-align: center;
                

                @media(min-width: $min-width-desktop){
                    font-size: $sz-240;
                }

                &__personnal {
                    font-size: $fs-880;
                    font-weight: $fw-medium;

                    @media(min-width: $min-width-desktop){
                        
                        font-size: $fs-1440;
                    }
                }
            }
        }

        &__button {
            @include m.box-text;
            background-color: $clr-accent-purple;
            border: none;
            border-radius: $sz-120;
            color: $clr-neutral-100;
            padding: $sz-120;
            width: 100%;
            height: 56px;

            @media(min-width: $min-width-desktop){
                height: inherit;
                padding: $sz-320;
                border-radius: $sz-240;

                &:hover {
                    cursor: pointer;
                    background-color: hsl(277, 91%, 78%);
                }
            }
        }
    }
}